@font-face {
    font-family: 'Hind';
    src: url('./woff2/Hind-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: 'Hind';
    src: url('./woff2/Hind-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'Hind';
    src: url('./woff2/Hind-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Hind';
    src: url('./woff2/Hind-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Hind';
    src: url('./woff2/Hind-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}